html{
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
header{
    margin-top: 10px;
    text-align: center;
    color: white;
}
.typewriter{
    color: #fff;
    width: 850px;
    /*font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .5em solid; /*  rgb(255, 255, 255);  The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4s steps(60, end),
      blink-caret .5s step-end infinite;
  }
.gameplay{
    display: inline;
    overflow: hidden;
    animation-name: typing;
    animation-timing-function: steps(60, end);
    animation-duration: 4s;
    animation-delay: 15s;
}
#gameplaycontainer{
    position: absolute;
    margin: 20px;
    padding: 20px;
}
#col1, #col2{
    float: left;
    margin: 20px;
    padding: 10px;
    border: dashed;
    border-color: greenyellow;
    width: 454px;
}

#gameinfo{
    clear: both;
    text-align: center;
    position: relative;
    margin:20px;
    padding: 20px;
    border: dashed;
    border-color: greenyellow;
    width: 90%;
    overflow: hidden;
    animation: 
      typing 4s steps(60, end),
      /* blink-caret .5s step-end infinite; */
  }


#lettersleft{
    text-align: justify;
    word-wrap: break-word;
}
  
@keyframes typing{
    from {width: 0 }
    to {width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255)  } /*(0, 255, 21)*/
  }
 